.cq_allinone_accordion {
    background-image: url(../images/icon_accordion.png) !important;
    background-size: 32px;
}
.cq_vc_accordion_item {
    background-image: url(../images/icon_accordion_item.png) !important;
    background-size: 32px;
}
.cq_allinone_hotspot {
    background-image: url(../images/icon_hotspot.png) !important;
    background-size: 32px;
}
.cq_allinone_ihover {
    background-image: url(../images/icon_ihover.png) !important;
    background-size: 32px;
}
.cq_allinone_faanimation {
    background-image: url(../images/icon_faanimation.png) !important;
    background-size: 32px;
}
.cq_allinone_dagallery {
    background-image: url(../images/icon_dagallery.png) !important;
    background-size: 32px;
}
.cq_allinone_mediumgallery {
    background-image: url(../images/icon_mediumgallery.png) !important;
    background-size: 32px;
}
.cq_allinone_masonry {
    background-image: url(../images/icon_masonry.png) !important;
    background-size: 32px;
}
.cq_allinone_scrollnotification {
    background-image: url(../images/icon_scrollnotification.png) !important;
    background-size: 32px;
}
.cq_allinone_timeline {
    background-image: url(../images/icon_timeline.png) !important;
    background-size: 32px;
}
.cq_allinone_fluidbox {
    background-image: url(../images/icon_fluidbox.png) !important;
    background-size: 32px;
}
.cq_allinone_productcover {
    background-image: url(../images/icon_productcover.png) !important;
    background-size: 32px;
}
.cq_allinone_ribbon {
    background-image: url(../images/icon_ribbon.png) !important;
    background-size: 32px;
}
.cq_allinone_appmockup {
    background-image: url(../images/icon_appmockup.png) !important;
    background-size: 32px;
}
.cq_allinone_depthmodal {
    background-image: url(../images/icon_depthmodal.png) !important;
    background-size: 32px;
}
.cq_allinone_profilecard {
    background-image: url(../images/icon_profilecard.png) !important;
    background-size: 32px;
}
.cq_allinone_testimonial {
    background-image: url(../images/icon_testimonial.png) !important;
    background-size: 32px;
}
.cq_allinone_tab {
    background-image: url(../images/icon_tab.png) !important;
    background-size: 32px;
}
.cq_allinone_tab_item {
    background-image: url(../images/icon_tab_item.png) !important;
    background-size: 32px;
}
.cq_allinone_image {
    background-image: url(../images/icon_image.png) !important;
    background-size: 32px;
}
.cq_allinone_parallax {
    background-image: url(../images/icon_parallax.png) !important;
    background-size: 32px;
}
.cq_allinone_stackgallery {
    background-image: url(../images/icon_stackgallery.png) !important;
    background-size: 32px;
}
.cq_allinone_figurenav {
    background-image: url(../images/icon_figurenav.png) !important;
    background-size: 32px;
}
.cq_allinone_button01 {
    background-image: url(../images/icon_button01.png) !important;
    background-size: 32px;
}
.cq_allinone_todolist {
    background-image: url(../images/icon_todolist.png) !important;
    background-size: 32px;
}
.cq_vc_todolist_item {
    background-image: url(../images/icon_todolist_item.png) !important;
    background-size: 32px;
}

.cq_allinone_carouselgallery {
    background-image: url(../images/icon_carouselgallery.png) !important;
    background-size: 32px;
}
.cq_allinone_zoommagnify {
    background-image: url(../images/icon_zoommagnify.png) !important;
    background-size: 32px;
}
.cq_allinone_fullscreenintro {
    background-image: url(../images/icon_fullscreenintro.png) !important;
    background-size: 32px;
}
.cq_allinone_pagetransition {
    background-image: url(../images/icon_pagetransition.png) !important;
    background-size: 32px;
}
.cq_allinone_thumbcaption {
    background-image: url(../images/icon_thumbcaption.png) !important;
    background-size: 32px;
}
.cq_allinone_imagearrow {
    background-image: url(../images/icon_imagearrow.png) !important;
    background-size: 32px;
}
.cq_allinone_metrocarousel {
    background-image: url(../images/icon_metrocarousel.png) !important;
    background-size: 32px;
}
.cq_allinone_separator {
    background-image: url(../images/icon_separator.png) !important;
    background-size: 32px;
}
.cq_allinone_materialcard {
    background-image: url(../images/icon_materialcard.png) !important;
    background-size: 32px;
}
.cq_allinone_cubebox {
    background-image: url(../images/icon_cubebox.png) !important;
    background-size: 32px;
}
.cq_allinone_sidebyside {
    background-image: url(../images/icon_sidebyside.png) !important;
    background-size: 32px;
}
.cq_allinone_typewriter {
    background-image: url(../images/icon_typewriter.png) !important;
    background-size: 32px;
}
.cq_allinone_sticker {
    background-image: url(../images/icon_sticker.png) !important;
    background-size: 32px;
}
.cq_allinone_imageoverlay {
    background-image: url(../images/icon_imageoverlay.png) !important;
    background-size: 32px;
}
.cq_allinone_imageoverlay2 {
    background-image: url(../images/icon_imageoverlay2.png) !important;
    background-size: 32px;
}
.cq_allinone_flipbox {
    background-image: url(../images/icon_flipbox.png) !important;
    background-size: 32px;
}
.cq_allinone_bannerblock {
    background-image: url(../images/icon_bannerblock.png) !important;
    background-size: 32px;
}
.cq_allinone_beforeafter {
    background-image: url(../images/icon_beforeafter.png) !important;
    background-size: 32px;
}
.cq_allinone_compareslider {
    background-image: url(../images/icon_compareslider.png) !important;
    background-size: 32px;
}
.cq_allinone_imageaccordion {
    background-image: url(../images/icon_imageaccordion.png) !important;
    background-size: 32px;
}
.cq_allinone_profilepanel {
    background-image: url(../images/icon_profilepanel.png) !important;
    background-size: 32px;
}
.cq_allinone_videocover {
    background-image: url(../images/icon_videocover.png) !important;
    background-size: 32px;
}
.cq_allinone_stackblock {
    background-image: url(../images/icon_stackblock.png) !important;
    background-size: 32px;
}
.cq_allinone_gradientbox {
    background-image: url(../images/icon_gradientbox.png) !important;
    background-size: 32px;
}
.cq_allinone_vectorcard {
    background-image: url(../images/icon_vectorcard.png) !important;
    background-size: 32px;
}
.cq_allinone_avatarwithpopup {
    background-image: url(../images/icon_avatarwithpopup.png) !important;
    background-size: 32px;
}
.cq_allinone_coverslider {
    background-image: url(../images/icon_coverslider.png) !important;
    background-size: 32px;
}
.cq_allinone_colorblock {
    background-image: url(../images/icon_colorblock.png) !important;
    background-size: 32px;
}
.cq_allinone_testimoniallist {
    background-image: url(../images/icon_testimoniallist.png) !important;
    background-size: 32px;
}
.cq_allinone_homeslider {
    background-image: url(../images/icon_homeslider.png) !important;
    background-size: 32px;
}
.cq_allinone_accordioncover {
    background-image: url(../images/icon_accordioncover.png) !important;
    background-size: 32px;
}
.cq_allinone_hovercard {
    background-image: url(../images/icon_hovercard.png) !important;
    background-size: 32px;
}
.cq_allinone_backgroundbutton {
    background-image: url(../images/icon_backgroundbutton.png) !important;
    background-size: 32px;
}
.cq_vc_diamondgrid_item {
    background-image: url(../images/icon_diamondgrid_item.png) !important;
    background-size: 32px;
}
.cq_vc_diamondgrid {
    background-image: url(../images/icon_diamondgrid.png) !important;
    background-size: 32px;
    /*background-position: 0 0 !important*/
}
.cq_vc_expandgrid_item {
    background-image: url(../images/icon_expandgrid_item.png) !important;
    background-size: 32px;
}
.cq_vc_expandgrid {
    background-image: url(../images/icon_expandgrid.png) !important;
    background-size: 32px;
    /*background-position: 0 0 !important*/
}
.cq_vc_chatbubble_item {
    background-image: url(../images/icon_chatbubble_item.png) !important;
    background-size: 32px;
}
.cq_vc_chatbubble {
    background-image: url(../images/icon_chatbubble.png) !important;
    background-size: 32px;
    /*background-position: 0 0 !important*/
}
.cq_vc_avatarblock {
    background-image: url(../images/icon_avatarblock.png) !important;
    background-size: 32px;
}
.cq_vc_skewbox_item {
    background-image: url(../images/icon_skewbox_item.png) !important;
    background-size: 32px;
}
.cq_vc_skewbox {
    background-image: url(../images/icon_skewbox.png) !important;
    background-size: 32px;
    /*background-position: 0 0 !important*/
}
.cq_vc_shadowcard {
    background-image: url(../images/icon_shadowcard.png) !important;
    background-size: 32px;
    /*background-position: 0 0 !important*/
}
.cq_vc_materialslider_item {
    background-image: url(../images/icon_materialslider_item.png) !important;
    background-size: 32px;
}
.cq_vc_materialslider {
    background-image: url(../images/icon_materialslider.png) !important;
    background-size: 32px;
}
.cq_vc_borderhover {
    background-image: url(../images/icon_borderhover.png) !important;
    background-size: 32px;
}
.cq_vc_videocard {
    background-image: url(../images/icon_videocard.png) !important;
    background-size: 32px;
}
.cq_vc_stepcard_item {
    background-image: url(../images/icon_stepcard_item.png) !important;
    background-size: 32px;
}
.cq_vc_stepcard {
    background-image: url(../images/icon_stepcard.png) !important;
    background-size: 32px;
}
.cq_vc_timelinecard_item {
    background-image: url(../images/icon_timelinecard_item.png) !important;
    background-size: 32px;
}
.cq_vc_timelinecard {
    background-image: url(../images/icon_timelinecard.png) !important;
    background-size: 32px;
}

.cq_vc_flipboxv2_item {
    background-image: url(../images/icon_flipboxv2_item.png) !important;
    background-size: 32px;
}
.cq_vc_flipboxv2 {
    background-image: url(../images/icon_flipboxv2.png) !important;
    background-size: 32px;
}

.cq_vc_hovercardv2_item {
    background-image: url(../images/icon_hovercardv2_item.png) !important;
    background-size: 32px;
}
.cq_vc_hovercardv2 {
    background-image: url(../images/icon_hovercardv2.png) !important;
    background-size: 32px;
}

.cq_vc_timeline_item {
    background-image: url(../images/icon_timelinev2_item.png) !important;
    background-size: 32px;
}
.cq_vc_timeline {
    background-image: url(../images/icon_timelinev2.png) !important;
    background-size: 32px;
}

.cq_vc_imagecompare_item {
    background-image: url(../images/icon_imagecompare_item.png) !important;
    background-size: 32px;
}
.cq_vc_imagecompare {
    background-image: url(../images/icon_imagecompare.png) !important;
    background-size: 32px;
}

.cq_vc_profilecardv2_item {
    background-image: url(../images/icon_profilecardv2_item.png) !important;
    background-size: 32px;
}
.cq_vc_profilecardv2 {
    background-image: url(../images/icon_profilecardv2.png) !important;
    background-size: 32px;
}
.cq_vc_datatable_item {
    background-image: url(../images/icon_datatable_item.png) !important;
    background-size: 32px;
}
.cq_vc_datatable {
    background-image: url(../images/icon_datatable.png) !important;
    background-size: 32px;
}
.cq_vc_floatblock {
    background-image: url(../images/icon_floatblock.png) !important;
    background-size: 32px;
}














/*.wpb-textarea_raw_html, .textarea_raw_html {
    font-family: Arial !important;
    color: #333 !important;
    font-size: 13px !important;
    height: 90px;
}
*/
.cqadmin-col-offset{
    margin: 12px 0;
}
.cqadmin-firstcol-offset{
    padding: 0;
    margin-bottom: 12px;
}

